
	<h1> New Person </h1>
  
	<%= form_tag(persons_create_path, :method => "post") do %>
	  <%= label_tag(:first_name, "First Name:") %>
	  <%= text_field_tag(:first_name) %>
	  <%= label_tag(:last_name, "Last Name:") %>
	  <%= text_field_tag(:last_name) %>
	  <%= label_tag(:description, "Description:") %>
	  <%= text_field_tag(:description) %>
	  <%= label_tag(:birth_date, "Birth Date:") %>
	  <%= date_field_tag(:birth_date) %>
	  <%= label_tag(:role, "Role:") %>
	  <%= label_tag(:role_director) do %>
		<%= radio_button_tag(:role, "actor") %> Actor	 
	  <% end %>
	  <%= label_tag(:role_actor, "Director") do %>
		<%= radio_button_tag(:role, "director") %> Director
	  <% end %>
	  <%= submit_tag("Submit") %>
	<% end %>
