<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @actor_movie.role %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @actor_movie.actor %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @actor_movie.movie %>
</p>

<%= link_to 'Edit', edit_actor_movie_path(@actor_movie) %> |
<%= link_to 'Back', actor_movies_path %>
